*{
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
/* rgb(56, 35, 28);  rgb(0, 140, 255); */
body{
    width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
}


header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    height: 3.5rem;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 980;
    overflow: hidden;
}
.bar{
    display: none;
}

.logo{
    margin-left: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.menuitems2{
    display: flex;
    height: 100%;
    width: 7rem;
    margin-right: 5rem;
    justify-content: space-between;
    align-items: center;
}

.icons{
    font-size: 1.4rem;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menuitems{
    display: none;
}
.icons2{
    font-size: 1.4rem;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(56, 99, 81);
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.icons:active{
    background-color: rgb(172, 0, 0);
}

/* header till here. Add css next to this*/

.allContent{
    display: flex;
    flex-basis: 0;
    width: 100vw;
    min-height: 91vh;
    overflow-x: hidden;
    position: relative;
    color: rgb(212, 212, 212);
}

.listItems{
    flex: 1;
    background-color: rgb(65, 65, 65);
    color: white;
    position: sticky;
    top: 0;
}
.options{
    width: inherit;
    padding: 1rem 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid grey;
    cursor: pointer;
    user-select: none;
}
.options:active{
    background-color: rgb(95, 95, 95);
}

#content1{
    flex: 5;
    min-height: inherit;  
    padding: 0.8rem;

}
#content1 pre{
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}





@media screen and (max-width:930px)  {
    .logo{
        margin-left: 1rem;
    }
    .menuitems2{
        display: none;
    }
    .menuitems{
        
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(114, 0, 0);
        top:3.5rem;
        left:100vw;
        height: fit-content;
        width: 15rem;
        border-bottom-left-radius: 10px;
        transition: 0.2s ease;
        visibility: hidden;
        z-index: 980;
    }
    .menuitems.active{
       
        visibility: visible;
        transform: translateX(-100%);
        transition: 0.2s ease;
    }
    .menuitems button{
        padding: 0.5rem 0.5rem;
        width: 85%;
        margin-top: 0.9rem;
        background-color: inherit;
        color: white;
        border: 2.5px solid white;
        border-radius: 5px;
        outline: none;
        font-size: 1.25rem;
        font-weight: bold;
        user-select: none;
        
    }
    .menuitems button:nth-last-child(1){
        margin-bottom: 0.9rem;
    }
    .menuitems button:active{
        background-color: rgb(63, 0, 0);
    }
    .backBtn{
        display: none;
    }

    .nextoverlay{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 970;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s all ease;
    }
    .nextoverlay.active{
        visibility: visible;
        opacity: 0.75;
        transition: 0.2s all ease;
    }

    .bar{
        display: flex;
    }
    .menubtn-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: 0px solid black;
        border-radius: 50%;
        color: inherit;
        background-color: inherit;
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        margin-right: 0.4rem;
        transform: rotate(0deg);
        transition: all 0.3s ease;
        
    }
    .menubtn-bar.active{
        transform: rotate(90deg);
        transition: all 0.3s ease;
        
    }

    /* header till here add css next to this*/

    .listItems{
        display: none;
    }
    #content1{
        width: inherit;
    }
}